*{
    box-sizing: border-box;
    padding: 0px;
    margin:  0px;
}

a{
    text-decoration: none;
}

.mainBanner{
    width: 100%;
    height: 280px;
    background-image: url("../shop/img/banner.jpg");
    background-size:cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  


}

.mainBanner .text{
    font-size: 42px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 4px 5px black; /*x축 좌표값 y축 블러 좌표값 색깔*/
    

}


@keyframes title{
    0%{
        transform: translateY(70px);
        opacity: 0;
    }

    92%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0px);
        opacity: 10;
    }

}




.container{


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}

.wrapper{
    width: 100%;
    max-width: 1320px; /*100%로 설정하고 늘리면 게속 커지는데 맥스로 지정하면 더커지지않음*/
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

  .sidebar{
  
 
        width: 130px;
        
        font-size: 10px;
    }
    


.mainMenu{
   
 
  padding: 0px;
  border-radius: 0px;
  background-color: orange;
   
}


.mainMenu ul{

    padding: 0px;
    display: block;
    
}

.mainMenu ul li{

  list-style: none;
  display: block;
    
}

.mainMenu ul li a{
  
   
    padding: 8px;
    display: block;
    color: white;
    transition: all 0.3s ease-in-out;
   
   
      
 }



 .writeBtnBox{
    margin-top: 10px;


 }

 
 .writeBtn{
    width: 100%;
    background-color: black;
    border: 1px solid #000000;
    color: white;
    padding: 10px 20px;
    font-size: 10px;
    text-align: left;
    transition: all 0.3s ease-in-out;

    

 }



.writeBtn .arrow{
   display: inline-block;
   padding-left: 5px;
   transition: all 0.4s ease-in-out;
 }









.itemwrap{

    width: calc(100% - 130px);
   
}




.itemWrap{

    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; */
   
 
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 7px;

    padding-left: 15px;
    justify-items: center;
    align-items: center;
 
}

.item{

    /* width:calc(25% - 7px); */
    aspect-ratio: 6 / 5;/*가로 세로 비율 유지*/
    position: relative;
    border-radius: 10px;
    overflow: hidden; /*이미지가 아이템 넘치지 않게*/
    
    

}

.imageBox{
    

    width: 100%;
    height: 100%;
    
    /*z-index가 자동 auto*/

}

.imageBox img{
    width: 100%;
    height: 100%;
    
    object-fit: cover; /*이미지가 안깨지게 설정*/
 
}

.textBox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding:20px;
    z-index: 3;

}

.textBox p {
    color: white;
    margin: 5px 0px 0px; /*위 5 오른쪽0 아래0*/
 

}

.textBox__name{
    font-size: 22px;
    font-weight: 500;
    opacity: 0;  /*0으로 하면 폰트글씨가 보이질 않음*/
    transform: translateY(50px); /*이름 숨기기용*/

}

.textBox__price{
    font-weight: 400;
    opacity: 0; /*0으로 하면 폰트글씨가 보이질 않음*/
    transform: translateY(50px); /*가격 숨기기용*/
}

.item:after{ /*회색배경(아이템 위에 덮어쓰기)*/
    content: ""; /*after를 쓰기위해선 content가 무조건 필요하다.*/
    display: block;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    opacity: 0;


}



.item:after,/*트렌지션 다중선택 적용*/
.item .imageBox img,
.item .textBox__name,
.item .textBox__price{

    transition: all 0.6s ease-in-out;

}

.item .textBox__price{

   transition-delay: 0.15s;/*가격정보 딜레이 설정*/

}

@media screen and (max-width: 767px) {
        /* 모바일 */
    .mainBanner{
        height: 160px;
        margin-bottom: 0px;
        
    }    

    .mainBanner .text{
        font-size: 26px;
    }

    .wrapper{
    

        flex-direction: column;
        display: flex;
        align-items: center;
        

    }

    .sidebar{
        width: 100%;
    }

    

    .writeBtn{
        display: none;


    }

    .wrapper{
        
        padding: 0px;
        
    
    }

    .mainMenu ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    
    .mainMenu{

        margin-top: 10px;
    }


    .mainMenu ul li a{

        font-size: 14px;
        padding: 15px;

    }

    .itemwrap{

        width: 100%;
  
    
        
       
    }

    .itemWrap{

        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6,1fr);
        grid-gap: 7px;
        /* padding-left: 0px; */
       
        justify-items: center;
        align-items: center;
        margin-top: 3px;
     
      
        
       
   
      
    
    }
    .item{

         width: calc(80%);
        margin-top: 3px;
         overflow: visible;
       
         
       
        
       
      
    }

    .textBox{
        position: relative;

      
    }



}


@media screen and (min-width: 767px) and  (max-width: 1024px){
    /* tablet */
    }




    @media screen and (min-width: 1024px){ /*hover 효과는 모바일 적용X PC에서만*/
        

        
        .mainMenu ul li a:hover{

            background-color: rgb(255,145,0);
            padding-left: 20px;
        
         }

         .writeBtn:hover{
            background-color: white;
            color: #333333;
           
         }
        
        .writeBtn .arrow:hover{
            transform: translateX(50px);
        
        
         }
        
         .mainBanner:hover .text{
            animation: title 3s ease-in-out;
        }

        .item:hover:after{
            opacity: 1;
        }
        
        .item:hover .imageBox img{
            transform: scale(1.1);
            filter: blur(3px);
        
        }
        
        .item:hover .textBox__name{ /*아이템 박스위에 오버되었을때 텍스트박스 이름변경*/
            opacity: 1;/*마우스를 올렸을때 폰트가 보이게함*/
            transform: translateY(0px);/*마우스를 올렸을때 폰트가 위에서 아래로*/
        
        
        
        }
        
        .item:hover .textBox__price{
        
            opacity: 1;  /*마우스를 올렸을때 폰트가 보이게함*/
            transform: translateY(0px); /*마우스를 올렸을때 폰트가 위에서 아래로*/
        }

        }
       